<div li-block="Product Price" {{ block.shopify_attributes }}>
                    
                    
                    <div class="product-header_price-wrapper">
                      <div class="price">€</div>
                      <div li-object-text="product.metafields.custom.vergelijkingsprijs_prijs_per_eenheid" class="price-text text-style-muted text-style-strikethrough">1,89</div>
                      <div li-object:text="product.metafields.custom.prijs_per_eenheid" class="price-text">
{{ product.metafields.custom.prijs_per_eenheid }}
</div>
                      <div li-block="Gram" {{ block.shopify_attributes }}>
                    
                        
                    <div li-object:text="product.metafields.custom.gewicht" class="price text-style-muted gram">
{{ product.metafields.custom.gewicht }}
</div>
                    
                      
                </div>
                    </div>
                    
                  
                </div> {% schema %} {
    "name": "Product Price",
    "settings": [],
    "presets": [
        {
            "name": "Product Price",
            "blocks": []
        }
    ],
    "tag": null
} {% endschema %}