<div class="padding_5">
          <div class="flex-outside">
            <div class="title-cont">
              <div class="small-tag">
                <div class="button-background w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 160.917 54.977" width="100%" height="100%" preserveaspectratio="none">
                    <path d="M.176,10.8,6.938,47.713s64.278,3.9,89.154,0S148.044,43.3,148.044,43.3,163.629,9.658,158.1,2.609,68.452,4.885,61.637,6.158.57,4.779.176,7.234A7.969,7.969,0,0,0,.176,10.8Z" transform="translate(1.726) rotate(2)" fill="currentColor"></path>
                  </svg></div>
                <div class="tag-text">
{{ section.settings.text_tag }}
</div>
              </div>
              <h1 class="h1-collection">
{{ section.settings.text_heading_collections }}
</h1>
            </div>
            <div class="_500px">
              <p li-object="collection.description" class="text-size-regular paragraph small">{{ collection.description }}</p>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "collectionheader",
    "class": "collection-header",
    "settings": [
        {
            "id": "text_tag",
            "type": "text",
            "label": "Tag",
            "default": "sinds 2019"
        },
        {
            "id": "text_heading_collections",
            "type": "text",
            "label": "Heading collections",
            "default": "Werelde smaken<br\/>met liefde bereidt"
        }
    ],
    "presets": [
        {
            "name": "collectionheader",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}