<a href="{{ section.settings.url_actiebalk }}" class="banner w-inline-block"> <div class="padding_5"> <div class="flex-mid-small _2"> <div class="korting-aankondiging white">{{ section.settings.text_grote_tekst }}</div> <div class="kortings-actie"> <div class="button-background w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 160.917 54.977" width="100%" height="100%" preserveaspectratio="none"> <path d="M.176,10.8,6.938,47.713s64.278,3.9,89.154,0S148.044,43.3,148.044,43.3,163.629,9.658,158.1,2.609,68.452,4.885,61.637,6.158.57,4.779.176,7.234A7.969,7.969,0,0,0,.176,10.8Z" transform="translate(1.726) rotate(2)" fill="currentColor"></path> </svg></div> <div class="korting-aankondiging">{{ section.settings.text_geel_blok }}</div> </div> <div class="text-size-regular text-color-white">{{ section.settings.text_kleine_tekst }}</div> </div> </div> </a> {% schema %} {
    "tag": "div",
    "name": "Korting",
    "class": "korting_banner",
    "settings": [
        {
            "id": "url_actiebalk",
            "type": "url",
            "label": "Actiebalk"
        },
        {
            "id": "text_grote_tekst",
            "type": "text",
            "label": "Grote tekst",
            "default": "Al\u00e9\u00e9n tijdens dit weekend beschikbaar"
        },
        {
            "id": "text_geel_blok",
            "type": "text",
            "label": "Geel blok",
            "default": "20% lanceringskorting"
        },
        {
            "id": "text_kleine_tekst",
            "type": "text",
            "label": "Kleine tekst",
            "default": "Op het gehele assortiment"
        }
    ],
    "presets": [
        {
            "name": "Korting",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}