<div class="padding_5">
        <div class="flex-mid-small _2">
          <div class="korting-aankondiging white">Aléén tijdens dit weekend beschikbaar</div>
          <div class="kortings-actie">
            <div class="button-background w-embed"><svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 160.917 54.977" width="100%" height="100%" preserveaspectratio="none">
                <path d="M.176,10.8,6.938,47.713s64.278,3.9,89.154,0S148.044,43.3,148.044,43.3,163.629,9.658,158.1,2.609,68.452,4.885,61.637,6.158.57,4.779.176,7.234A7.969,7.969,0,0,0,.176,10.8Z" transform="translate(1.726) rotate(2)" fill="currentColor"></path>
              </svg></div>
            <div class="korting-aankondiging">20% lanceringskorting</div>
          </div>
          <div class="text-size-regular text-color-white">Op het gehele assortiment</div>
        </div>
      </div>
      <a data-w-id="0e0324ad-32f1-0148-46e0-e33c7cf85e69" href="#" class="close-icon w-inline-block">
        <div class="closeicon w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 642.053 642.053">
            <g id="Group_83" data-name="Group 83" transform="translate(-2360.973 -2823.974)">
              <rect id="Rectangle_32" data-name="Rectangle 32" width="40" height="868" transform="translate(2974.742 2823.974) rotate(45)" fill="#fff"></rect>
              <rect id="Rectangle_33" data-name="Rectangle 33" width="40" height="868" transform="translate(3003.026 3437.742) rotate(135)" fill="#fff"></rect>
            </g>
          </svg></div>
      </a> {% schema %} {
    "tag": "div",
    "name": "Korting",
    "class": "korting_banner",
    "presets": [
        {
            "name": "Korting",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}